<h1>Edit this Present</h1>
<%= render partial: '/layouts/errors', locals: {object: @present}%>

<%= form_for @present do |f| %>
<p>
<div>
    <%= f.label :present_name %><br>
    <%= f.text_field :name %><br>
</div>
<div>
     <%= f.label :cost %><br>
    <%= f.text_field :cost %><br>
</div>
<div>
    <%= f.label :category %><br>
    <%= f.text_field :category %><br>
</div>
<div>
     <%= f.label :brand %><br>
     <%= f.text_field :brand %><br>
</div>

<br>
    <%= f.submit "Update Present" %><br>
<% end %>