<h1>Add a Present</h1>
<%= render partial: '/layouts/errors', locals: {object: @present}%>

<%= form_for @present do |f| %>
<p>
<div>
    <%= f.label :present_name %><br>
    <%= f.text_field :name %><br>
</div>
<div>
     <%= f.label :cost %><br>
    <%= f.text_field :cost %><br>
</div>
<div>
    <%= f.label :category %><br>
    <%= f.text_field :category %><br>
</div>
<div>
     <%= f.label :brand %><br>
     <%= f.text_field :brand %><br>
</div>
    <p> Please select a Recipient: </p>
<div>
    <%= f.collection_select :recipient_id, Recipient.all, :id, :name, :include_blank => true %>
</div>

    <p> Create a new Recipient: </p>
<div>
    <%= f.fields_for :recipient, @present.build_recipient do |recipient| %>
    <%= f.label :name %>
    <%= recipient.text_field :name %>
    <%= f.label :email %>
    <%= recipient.text_field :email %>
      <%= f.label :address %>
    <%= recipient.text_field :address %>
      <%= f.label :favorite_color%>
    <%= recipient.text_field :favorite_color %>
    <%end%>
</div>
<br>
    <%= f.submit "Create Present" %><br>
<% end %>