<h1>Add a Present</h1>
<%= render partial: '/layouts/errors', locals: {object: @present}%>
<%= form_for @present do |f| %>
<p>
<div>
    <%= f.label :present_name %><br>
    <%= f.text_field :name %><br>
</div>
<div>
     <%= f.label :cost %><br>
    <%= f.text_field :cost %><br>
</div>
<div>
    <%= f.label :category %><br>
    <%= f.text_field :category %><br>
</div>
<div>
     <%= f.label :brand %><br>
     <%= f.text_field :brand %><br>
</div>
    <p> Select an existing Recipient: </p>
<div>
    <%= f.collection_select :recipient_id, Recipient.all, :id, :name, :include_blank => true %>
</div>

    <p> Or Create a new Recipient: </p>
<div>
    <%= f.fields_for :recipient, @present.build_recipient do |recipient| %>
 <div>
    <%= f.label :name %><br>
    <%= recipient.text_field :name %><br>
</div>
<div>
    <%= f.label :email %><br>
    <%= recipient.text_field :email %><br>
</div>
<div>
      <%= f.label :address %><br>
    <%= recipient.text_field :address %><br>
</div>
<div>
      <%= f.label :favorite_color%><br>
    <%= recipient.text_field :favorite_color %><br>
    <%end%>
</div>
<br>
    <%= f.submit "Create Present" %><br>
<% end %>