<%= form_for @present do |f| %>
<%= f.hidden_field :user_id %>

<%= f.submit%>

<div>
    <%= f.label :present_name %><br>
    <%= f.text_field :name %><br>
</div>
<div>
     <%= f.label :cost %><br>
    <%= f.text_field :cost %><br>
</div>
<div>
    <%= f.label :category %><br>
    <%= f.text_field :category %><br>
</div>
<div>
     <%= f.label :brand %><br>
     <%= f.text_field :brand %><br>
</div>
    <p> Please select a Recipient: </p>
<div>
    <%= f.collection_select :recipient_id, Recipient.all, :name, :name %>
</div>
    <p> Or Create a new Recipient: </p>
    <div>
    <%= f.fields_for :recipients do |recipient| %>
    <%= f.label :name %>
    <%= recipient.text_field :name %>
    <%= f.label :email %>
    <%= recipient.text_field :email %>
    <%end%>
</div>
<br>
    <%= f.submit "Create Present" %><br>
<% end %>