<h1>Present: <%= @present.name %></h1><br>
<br>
    Cost: <%= @present.cost%><br>
    Category: <%= @present.category%><br>
    Brand: <%= @present.brand%><br>
    Recipient Name: <%= @present.recipient.name%><br>

