<h1> Add a child to the nice list</h1>
<%= render partial: '/layouts/errors', locals: {object: @recipient}%>

<%= form_for @recipient do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
<br>
    <%= f.label "Email" %><br>
    <%= f.text_field :email %><br>
<br>
    <%= f.label "Address" %><br>
    <%= f.text_field :address %><br>    
<br>
    <%= f.label "Favorite Color" %><br>
    <%= f.text_field :favorite_color %><br>
<br>
    <%= f.submit "Submit" %><br>
<% end %>