<!DOCTYPE html>
<html>
  <head>
    <title>ChristmasList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div>
   
  <% if current_user %>
    <%= link_to "Log Out", logout_path, method: :delete%> |
    <%= link_to "New Present", new_user_present_path(current_user) %> |
    <%= link_to "Address Book", recipients_path %> |
    <%= link_to "Home", user_presents_path(current_user) %>
  <% else %>
    <%= button_to "Log in with Google", '/auth/google_oauth2'%>
    <%end%>
  <div>

  <body>
    <%= yield %>
  </body>
</html>
